*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

blockquote {
  margin-left: 40px;
  padding: 0 5px;
  position: relative;
}

blockquote::before {
  background: #e3e3e3;
  color: white;
  content: "DEF";
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: -40px;
  text-align: center;
  top: 4px;
  width: 40px;
}

blockquote p {
  margin: 0;
}

body {
  background: #fafafa;
  color: #222222;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  margin: 1em auto;
  max-width: 666px;
  padding: .5rem;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}

pre {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.1);
  padding: 1.25rem 1.5rem;
  overflow-y: hidden;
  white-space: pre-wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h4 {
  font-size: 2rem;
}

img {
  height: auto;
  max-width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  align-items: flex-start;
  color: #222;
  display: flex;
  padding: 1.25rem 1rem;
  text-decoration: none;
}


nav ul li.active a {
  font-weight: bold;
}

table {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border-right: 1px solid #e3e3e3;
  padding: 0 10px;
  text-align: left;
}

table th:last-child,
table td:last-child {
  border-right: none;
}

table td {
  border-top: 1px solid #e3e3e3;
}

textarea {
  border: 1px solid #f4f5f6;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.1);
  font-size: 16px;
  min-height: 300px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.block {
  display: block;
}

.center-text {
  text-align: center;
}

.hero {
  font-size: 8rem;
}

.logo {
  background-image: url(/img/traindown.png);
  background-size: contain;
  height: 100px;
  margin: 50px auto;
  width: 100px;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.col-2 { padding: 0 50px; width: 50%; }
.col-3 { width: 32%; }

@media (max-width: 768px) {
  .hero {
    font-size: 6rem;
  }

  .row {
    display: block;
  }

  .col-2 { margin-bottom: 20px; width: 100%; }
  .col-3 { margin-bottom: 20px; width: 100%; }
}
