{{ define "header" }}

<nav>
  <ul>
    <li class="{{if .name}}{{if eq .name "home"}}active{{end}}{{end}}"><a href="/">Home</a></li>
    <li class="{{if .name}}{{if eq .name "guide"}}active{{end}}{{end}}"><a href="/guide">Guide</a></li>
    <li class="{{if .name}}{{if eq .name "playground"}}active{{end}}{{end}}"><a href="/playground">Playground</a></li>
    <li class="{{if .name}}{{if eq .name "transponder"}}active{{end}}{{end}}"><a href="/transponder">Transponder</a></li>
    <li class="{{if .name}}{{if eq .name "spec"}}active{{end}}{{end}}"><a href="/spec">Spec</a></li>
    <li class="{{if .name}}{{if eq .name "source"}}active{{end}}{{end}}"><a href="/source">Source</a></li>
  </ul>
</nav>

<div class="logo"></div>

{{ end }}
